<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Discounts Offers</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
 @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('Gilroy-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy'), url('Gilroy-Heavy.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light'), url('Gilroy-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium'), url('Gilroy-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular'), url('Gilroy-Regular.woff') format('woff');
    }
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr style="padding:0 0px; margin:0 0px; height:92px; clear:both; overflow:hidden; display:block;">
    <td><img src="images/discount_offer_01.jpg" width="700" height="92" alt=""></td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#bd2a03" style="padding:0 0px; margin:0 0px; height:68px; clear:both; overflow:hidden; display:block;"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="328"><img src="images/discount_offer_02.jpg" width="302" height="69" alt=""></td>
    <td width="69"><a href="#"><img src="images/offer.jpg" alt="" border="0"></a></td>
    <td width="96"><a href="#"><img src="images/dapp.jpg" alt="" border="0"></a></td>
    <td width="79"><a href="#"><img src="images/visitweb.jpg" alt="" border="0"></a></td>
    <td width="128" align="right"><img src="images/discount_offer_04_1.jpg" width="109" height="69" alt=""></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td style="padding:0 0px; margin:0 0px; height:253px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_03.jpg" width="700" height="253" alt=""></td>
  </tr>
  
  <tr>
    <td style="padding:0 0px; margin:0 0px; height:72px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_04.jpg" width="700" height="72" alt=""></td>
  </tr>
  
  <tr>
    <td style="padding:0 0px; margin:0 0px; height:186px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_05.jpg" width="700" height="186" alt=""></td>
  </tr>
  <tr>
    <td style="padding:0 0px; margin:0 0px; height:183px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_06.jpg" width="700" height="183" alt=""></td>
  </tr>
 <tr>
    <td style="padding:0 0px; margin:0 0px; height:190px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_07.jpg" width="700" height="190" alt=""></td>
  </tr> 
 <tr>
    <td style="padding:0 0px; margin:0 0px; height:104px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_08.jpg" width="700" height="104" alt=""></td>
  </tr>
  <tr>
    <td style="padding:0 0px; margin:0 0px; height:448px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_09.jpg" width="700" height="448" alt=""></td>
  </tr>
  <tr>
    <td style="padding:0 0px; margin:0 0px; height:56px; clear:both; overflow:hidden; display:block;"><img src="images/discount_offer_10.jpg" width="700" height="56" alt=""></td>
  </tr>
  <tr>
  <td valign="top" bgcolor="#8d002a" style="padding:0 0px; margin:0 0px; clear:both; overflow:hidden; display:block;">
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="170">&nbsp;</td>
    <td height="72" align="center" valign="middle" style="color:#ffffff; font-size:14px; font-family:Gilroy-Medium, Verdana, Geneva, sans-serif, Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, sans-serif;">
For any questions, email us anytime here at:<br /><a href="mailto:info@ebuildbazaar.in" style="color:#ffffff; font-size:14px; font-family:Gilroy-Heavy, Verdana, Geneva, sans-serif, Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, sans-serif; text-decoration:none;">info@ebuildbazaar.in</a></td>

    <td width="170" align="left">&nbsp;</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td bgcolor="#ffe5b9" style="padding:0 0px; margin:0 0px; height:79px; clear:both; overflow:hidden; display:block;">
    <table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="140" align="left"><img src="images/discount_offer_12.jpg" width="140" height="79" alt=""></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="48" align="center" valign="middle" style="color:#381705; font-size:11px; font-family:Gilroy-Medium, Verdana, Geneva, sans-serif, Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, sans-serif;">We hope you enjoy emails from eBuildBazaar. If you wish to unsubscribe,
please click <a href="#" style="color:#381705; font-size:12px; font-family:Gilroy-Medium, Verdana, Geneva, sans-serif, Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, sans-serif;">here</a>.</td>
  </tr>
  <tr>
    <td><img src="images/discount_offer_13.jpg" alt=""></td>
  </tr>
</table>
</td>
    <td width="144" align="right"><img src="images/discount_offer_14.jpg" width="137" height="79" alt=""></td>
  </tr>
</table>
</td>
  </tr>
  
  <tr>
    <td bgcolor="#ffe7cd" style="padding:0 0px; margin:0 0px; height:63px; clear:both; overflow:hidden; display:block;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left"><img src="images/discount_offer_15.jpg" alt=""></td>
    <td align="center"><a href="#"><img src="images/discount_offer_16.jpg" alt="" border="0"></a></td>
    <td align="center"><a href="#"><img src="images/discount_offer_17.jpg" alt="" border="0"></a></td>
    <td  align="center"><a href="#"><img src="images/discount_offer_18.jpg" alt="" border="0"></a></td>
    <td align="right"><img src="images/discount_offer_19.jpg" alt=""></td>
  </tr>
</table>

    </td>
  </tr>
  
</table>
</body>
</html>